<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Tarea</title>
</head>
<body>
<h2>Formulario de Tarea</h2>
<form th:object="${tarea}" th:action="@{/tareas/nueva}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Descripción: <input type="text" th:field="*{descripcion}" /></label><br/>
    <label>Esfuerzo: <input type="number" th:field="*{esfuerzo}" /></label><br/>

    <label>Asociar Alumno:
        <select name="alumnoId">
            <option th:each="a : ${alumnos}" th:value="${a.id}" th:text="${a.nombres + ' ' + a.apellidos}"></option>
        </select>
    </label><br/>

    <!-- Agregado para seleccionar un laboratorio -->
    <label>Asociar Laboratorio:
        <select name="laboratorioId">
            <option th:each="lab : ${laboratorios}" th:value="${lab.id}" th:text="${lab.nombre}"></option>
        </select>
    </label><br/>

    <input type="submit" value="Guardar" />
</form>

<br/>
<a th:href="@{/tareas}">Volver a la Lista de Tareas</a>
</body>
</html>
